name: "Publish Library to Maven Central"

# Trigger
on:
    push:
        branches:
            - main

# Jobs
jobs:
    publish:
        name: "Build and release the library"
        runs-on: macos-latest

        # Steps
        steps:
            -   name: "Checkout the repository"
                uses: actions/checkout@v4

            -   name: "Setup JDK 21"
                uses: actions/setup-java@v4
                with:
                    distribution: temurin
                    java-version: 21

            -   name: "Make Gradle Wrapper Executable"
                run: chmod +x ./gradlew

            -   name: "Publish to MavenCentral"
                run: ./gradlew :library:publishToMavenCentral --no-configuration-cache
                env:
                    ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
                    ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
                    ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
                    ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
                    ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}