name: "Publish Library to Maven Central"

# Trigger
on:
    push:
        branches:
            - main

# Jobs
jobs:
    publish:
        name: "Build and release the library"
        runs-on: macos-latest

        # Steps
        steps:
            -   name: "Checkout the repository"
                uses: actions/checkout@v4

            -   name: "Setup JDK 21"
                uses: actions/setup-java@v4
                with:
                    distribution: temurin
                    java-version: 21