name: "Test the Library"

# Trigger
on:
    push:
        branches:
            - main

# Jobs
jobs:
    publish:
        name: "Test the library"
        runs-on: macos-latest

        # Steps
        steps:
            -   name: "Checkout the repository"
                uses: actions/checkout@v4

            -   name: "Setup JDK 21.0.8"
                uses: actions/setup-java@v4
                with:
                    distribution: temurin
                    java-version: "21.0.8"