name: "Deploy the Kotlin/Wasm app to GitHub Pages"

# Trigger
on:
    push:
        branches:
            - main

# Permissions
permissions:
    contents: write

# Jobs
jobs:
    build-and-deploy:
        name: "Build and deploy the Kotlin/Wasm app"
        runs-on: ubuntu-latest

        # Steps to build, commit and deploy the Kotlin/Wasm app
        steps:
            -   name: "Checkout the repository"
                uses: actions/checkout@v4

            -   name: "Setup JDK 21"
                uses: actions/setup-java@v4
                with:
                    distribution: "temurin"
                    java-version: 21

            -   name: "Set up Node.js"
                uses: actions/setup-node@v3
                with:
                    node-version: "20"

            -   name: "Make Gradle Wrapper Executable"
                run: chmod +x ./gradlew

            -   name: "Build the Wasm App"
                run: ./gradlew :web-wasm:wasmJsBrowserDistribution

            -   name: "Deploy to GitHub Pages"
                uses: peaceiris/actions-gh-pages@v4
                with:
                    github_token: ${{ secrets.GITHUB_TOKEN }}
                    publish_dir: .build/wasm-distribution
                    destination_dir: wasm-app
                    keep_files: true